@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap");

*
{

    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #252839;
}

h1 {
    position: relative;
    font-size: 14vh;
    color: #252839;
    -webkit-text-stroke: 0.3vh #329d52 ;
    text-transform: uppercase;
}
.linkcontainer {
    padding-top: 300px;
}
